#main {
    padding: 5px;
}
header {
    margin-bottom: 0.5rem;
}
header > h1 {
    line-height: 1.1;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}
header .subhead {
    margin: 0 auto;
    max-width: 525px;
    text-align: center;
}
#container {
    padding: 5px;
}
#container p {
    font-size: 1.1rem;
}

/* 
* ROW
*/
#container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0;
}
#container .flex-container {
    display: flex;
    justify-content: space-evenly;
}
#container .flex-center {
    display: flex;
    justify-content: center;
}

/* 
* PANELS 
*/
#container .panel {
    border: 3.5px solid rgb(155,63,134);
    border-radius: 5px;
    padding: 5px;
    position: relative;
}
#container .panel:first-of-type {
    margin-top: 0;
}
#container .panel.no-border {
    border: none;
}
#container .panel p {
    margin: 10px 0;
}
#container .panel .text-emphasis {
    font-size: 1.15rem;
    font-family: 'BentonSansCond-Bold', bold;
}
#container .panel .subhead {
    font-size: 1.5rem;
    margin-bottom: 15px !important;
}
#container .panel.full {
    width: 100%;
}
#container .half {
    /* border: 2px solid darkred; */
    width: 48%;
}
#container .third {
    /* border: 2px solid darkgreen; */
    margin: 10px auto;
    /* width: 33%; */
}
#container .two-third {
    /* border: 2px solid lightgreen; */
    margin: 10px auto;
    /* width: 66%; */
}

/* 
* TEXT BLOCK
*/
#container .row.text-row {
    height: auto;
    justify-content: center;
    line-height: 1.5;
    text-align: center;
}
#container .text-container {
    display: flex;
    align-items: center;
}
#container .text-block p {
    border-radius: 5px;
    margin: 0.2rem;
    padding: 5px;
    text-align: left;
}




/* MEDIA QUERIES */
@media only screen and (min-width: 550px) {
    #container .row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    #container .panel {
        padding: 5px 10px;
    }
    #container .third {
        /* border: 2px solid darkgreen; */
        margin: 0;
        width: 33%;
    }
    #container .two-third {
        /* border: 2px solid lightgreen; */
        margin: 0;
        width: 55%;
    }
    #container .text-block p {
        margin: 0.5rem;
    }
}